:root{
  --w: #fff;
  --d: #000;
  --o: #ff902e;
  --r: rgb(255, 122, 0)
}
[data-theme="dark"]{
  --w: #000;
  --d: #fff;
  --o: plum;
  --r: purple;
  
  
}
*{
  margin: 0;
  padding: 0;
}
body{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: var(--w);
}
div{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--d);
  color: var(--w);
  padding: .9rem;
  border-radius: 20px 0px;
  height: 130px;
  position: absolute;
}
button{
  background-color: var(--r);
  border-radius: 50%;
  border: none;
  padding: .3rem;
  height: 60px;
  width: 60px;
  margin-top: 20px;
  cursor: poiter;
}
button:hover{
  background-color: var(--o);
  transition: .7s; /*500 mile segundos (500ms)*/
  position: relative;
  /*
  height: 55px;
  width: 55px;
  */
}
svg{
  height: 24px;
  width: 24px;
  color: var(--w);
}

