*{
    padding: 0;
    margin: 0;
    font-family: Helvetica, sans-serif;
}
body{
    background-color: #161623;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    width: 950px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
.container .hexagonArea{
    display: flex;
}
.container .hexagonArea.last{
    transform: translateY(-45px);
}

.container .hexagonArea .hexagon{
    position: relative;
    width: 200px;
    height: 250px;
    margin: 0 10px;
    clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
    background-color: deeppink;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .5s;
}
.container .hexagonArea .hexagon img{
    width: 80px;
}
.container .hexagonArea .hexagon h1{
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 10px;
}
.container .hexagonArea .hexagon:hover{
    background-color: deepskyblue;
    transform: scale(0.8);

}
